# Ignore the Cloud credentials if any is available locally
.cloud

# Ignore files transformed on the fly
dataset/bulk-person.ndjson

# Ignore the GCS credentials
elasticsearch-config/service-account.json
